@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

body {
    font-family: 'Montserrat', sans-seif;
    margin: 0;
}
* {
    margin:0;   /* 마진 리셋 */
    padding:0;   /* 패딩 리셋 */
    box-sizing: border-box;   /* 박스 영역은 테두리까지 */ 
  }
a {
    text-decoration:none;  /* 텍스트 링크 밑줄 없애기 */ 
  }
ul {
    list-style: none;
  }
.index-container{
  background-color:white(181, 181, 252);
  display:grid;
  grid-template-columns:100%;
  grid-template-rows: 8vh 62vh 30vh;
  grid-template-areas:'header'
                      'slide-img'
                      'direction-sea';
}
.header{
  grid-area:header;
  background:white;
 
}
.slide-img{
  grid-area:slide-img;
}
.slide-item{
  width:100%;
  margin:auto;
  position:relative;
}
.text-box{
  position:absolute;
  width:100%;
  height:30%;
  color:white;
  z-index:5;
  opacity: 1;
  overflow:hidden;
  padding:40px;
  margin:auto;
  box-sizing:border-box;
}

.direction-sea{
  grid-area:direction-sea;
}
.sea-box{
  width:100%;
  display:flex;
  align-content:center;
  text-align:center;
  justify-content:center;
  margin:auto;
  box-sizing:border-box;
}
.sea-item{
  width:70%;
  height:200px;
  border-radius:10px;
  overflow:hidden;
  margin:auto;
  cursor:pointer;
  position:relative;
}
.sea-item img{
  width:100%;
  height:100%;
  display:block
}
.overlay-wrap{
  position:absolute;
  width:100%;
  height:100%;
}
.overlay-wrap:hover .overlay{
  opacity:1;
  height:50%;
}
.overlay{
  position:absolute;
  width:100%;
  height:0%;
  bottom:0px;
  overflow:hidden;
  color:white;
  padding:10px;
  margin-left:auto;
  margin-bottom:auto;
  line-height:5px;
  box-sizing:border-box;
  background:rgba(0,0,0,0.5);
  opacity: 0;
  transition:all 1s;
  /* transition-timing-function:cubic-bezier(cubic-bezier(0.075, 0.82, 0.165, 1)) */
}
#logo{ 
  float:left;   /* 왼쪽으로 플로팅 */ 
  width:350px;   /*  너비 */ 
  height:50px;   /* 높이 */
  line-height:20px;  /* 세로로 중간에 맞춤 - 줄간격을 높이 값과 같게 */
  padding-left:40px;  /* 왼쪽에 여백 */
}
#logo h1 {
  font-weight:700px;
  font-size:30px;   /* 글자 크기 */
  color:black;   /* 글자 색*/
  text-shadow:0 -1px 0 rgb(7, 7, 7);  /* 그림자 색 */
}
