@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

body {
    font-family: 'Montserrat', sans-seif;
    margin: 0;
}
* {
    margin:0;   /* 마진 리셋 */
    padding:0;   /* 패딩 리셋 */
    box-sizing: border-box;   /* 박스 영역은 테두리까지 */ 
  }
a {
    text-decoration:none;  /* 텍스트 링크 밑줄 없애기 */ 
  }
ul {
    list-style: none;
  }
h1{
  color : white;
  font-size : 70px;
  padding-top:100px;
  padding-left:830px;
}
h2{
  color : white;
  font-size : 60px;
  top:400px;
  left:400px;
  position: absolute;
  font-weight:700px;
}
h3{
  color : white;
  font-size : 60px;
  top:400px;
  left:1400px;
  position: absolute;
  font-weight:700px;

}
h4{
  color : white;
  font-size : 60px;
  left:950px;
  top:800px;
  position: absolute;
  font-weight:700px;
  
}

h2:hover{
  color:yellow;
  transition: all 0.8s; /*버튼 바뀌는 딜레이*/
}
h2:active{
  color:yellow;
}
h3:hover{
  color:yellow;
  transition: all 0.8s; /*버튼 바뀌는 딜레이*/
}
h3:active{
  color:yellow;
}
h4:hover{
  color:yellow;
  transition: all 0.8s; /*버튼 바뀌는 딜레이*/
}
h4:active{
  color:yellow;
}