@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

body {
    font-family: 'Montserrat', sans-seif;
    margin: 0;
}
* {
    margin:0;   /* 마진 리셋 */
    padding:0;   /* 패딩 리셋 */
    box-sizing: border-box;   /* 박스 영역은 테두리까지 */ 
}
a {
    text-decoration:none;  /* 텍스트 링크 밑줄 없애기 */ 
}
ul {
    list-style: none;
}
h1{
    font-size:36px;
    color:white;
}
h3{
    color:white;
}
h4{
    color:white;
}
img{
    width:90%;
    height:280px;
    margin:10px;
}
.container{
    width:100%;
    text-align:center;
    margin : 50px auto;
    padding-left:200px;
}