@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

body {
    font-family: 'Montserrat', sans-seif;
    margin: 0;
}
* {
    margin:0;   /* 마진 리셋 */
    padding:0;   /* 패딩 리셋 */
    box-sizing: border-box;   /* 박스 영역은 테두리까지 */ 
}
a {
    text-decoration:none;  /* 텍스트 링크 밑줄 없애기 */ 
}
ul {
    list-style: none;
}
.container{
    width:70%;
    box-sizing:border-box;
    text-align:center;
    margin: 50px auto;
}
h1{
    font-size:36px;
}
img{
    width:80%;
}